  <div class="jumbotron">
  <h1 class="display-4">Franklin's Website</h1>
  <p class="lead">My webpage</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <%= link_to "More Info", home_moreinfo_path, class: "btn btn-success btn-lg" %>
</div>
